{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
<a href="{{ path("program_new") }}">Ajouter Nouvelle Série</a>
<a href="{{ path("app_season_new") }}">Ajouter NOUVELLE SAISON</a>
    <h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} /{{ program.slug }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("app_program_edit", { slug: program.slug }) }}">Edit Program</a> 
            <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

     <a href="{{ path('program_index') }}">
        Retour à l'accueil
    </a>
   {# {% if program.slug is not empty %} 
    <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
 {% else %}
    {# <p>No valid slug available</p> 
{% endif %} #}
{% endblock %}
